.btn {
    padding: 0.8em 1em;
    font-size: 17px;
    line-height: 1em;
    background-color: var(--secondary-color);
    color: #fff;
    text-align: center;
    border: none;
    border-radius: 0.1em;
    cursor: pointer;
    text-decoration: none;    
    box-shadow: 0 2px 8px 1px #0003;
    transition: all 0.4s;
}

.btn.btn-round {
    border-radius: 1.3em;
}

.btn.btn-round.fa {
    padding: 0;
    font-size: 36px;
    margin-top: -0.05em;
    line-height: 1.2em;
    width: 1.3em;
    height: 1.3em;
}

.btn:hover {
    background-color: var(--secondary-color-dark);
}